.footer {
  padding: 60px 0 20px;
  color: var(--lightest-gray-color);
  background: var(--black-color);
  font-size: 12px;
  line-height: 1.3;

  @include media-mn(1023) {
    padding-top: 41px;
    padding-bottom: 40px;
  }

  &__title {
    font: 500 18px/1.3 var(--secondary-font-family);
    margin: 0 0 17px;
  }

  &__social-box {
    padding-bottom: 76px;

    @include media-mn(1023) {
      padding-bottom: 22px;
    }
  }

  &__info {
    padding-top: 19px;
    border-top: 1px solid var(--light-gray-color);

    @include media-mn(1023) {
      border-top: none;
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    padding: 0 0 19px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 19px;

    @include media-mn(1023) {
      flex-direction: row;
      gap: 40px;
      padding-bottom: 0;
      font-size: 14px;
      line-height: 1.4;
    }
  }
  &__nav-link {
    color: var(--dark-gray-color);
    text-decoration: none;

    .desktop & {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__copy {
    color: var(--dark-gray-color);
    margin:0;

    @include media-mn(1023) {
      margin:2px 74px 0 0;
    }
  }
}
